@use "./variables" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__text {
        font-family: $font-headers-tertiary;
        font-size: 2rem;
        color: $color-text;

        &--letterT {
            color: $color-dark-violet;
        }
    }

    &__cat {
        margin-top: 3rem;
        max-width: 6rem;
        max-height: auto;
        margin-bottom: 0.5rem;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    margin-bottom: 2rem;

    &__history {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        font-size: 0.9rem;
        color: $color-text;
        opacity: 80%;
    }

    &__answer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        font-size: 1.25rem;
        color: $color-text;
        font-weight: 600;
    }
    
    &__button {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 1.5rem;
        background-color: $color-white;
        border: 1px solid #d1d1d1;
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-text;
        margin: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center; 

        &:hover {
            background-color: $color-lily;
        }

        &--equal {
            width: 6.5rem;
            height: 3rem;
            border-radius: 1rem;
            background-color: $color-violet;
        }
    }

    &__button-clear {
        background-color: $color-violet;
    }

    &__button-negate {
        background-color: $color-lavender;
    }

    &__button-percent {
        background-color: $color-lavender;
    }

    &__button-divide {
        background-color: $color-lavender;
    }

    &__button-multiply {
        background-color: $color-lavender;
    }

    &__button-minus {
        background-color: $color-lavender;
    }

    &__button-plus {
        background-color: $color-lavender;
    }

    &__img {
        opacity: 0.5;
    }
}