@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap');


/* Fonts */
$font-body: "Poppins", sans-serif;
$font-headers: "Indie Flower", sans-serif;

/* Color palette for the calculator project */
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #FFC2D1;
$color-secondary: #FFB3C6;
$color-tertiary: #FF8FAB;
$color-peach: #EE959E;
$color-green: #D5E7B8;
$color-green2: #C4DEA4;
$color-text: #808080;